@import "colors";

.grid-view {
  padding: 20px;
}

.cells {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #7FDBFF;
  opacity: 0;
  user-select: none;

  svg {
    stroke: #000;
    height: 14px;
  }
}


// 单元格 雷的个数 颜色定义
.cell-value { font-weight: bold; }
.cell-value-1 { color: #DDDDDD; }
.cell-value-2 { color: #69F0AE; }
.cell-value-3 { color: #FFEE58; }
.cell-value-4 { color: #FF851B; }
.cell-value-5 { color: #FF4136; }
.cell-value-n { color: #FF4136; }

.flag {
  background: #FFDB00;
}

.reveal {}

.mine {
  background: #FF5975;
}

.flag.mine {
  background: #01FF70;
}