.status {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 60px;
  color: #000;
  background: white;
}

.button-restart,
.button-home {
  opacity: 0;
  z-index: -1;
  display: flex;
  position: absolute;
  left: 0;
  align-items: center;
  padding: 4px 10px;
  width: 90px;
  color: white;
  border: none;
  background: #000;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in;

  svg {
    margin-right: 4px;
    width: 13px;
    stroke: currentColor;
    transition: all .3s ease-in-out;
  }

  &:hover {
    svg { transform: rotate(360deg); }
    color: #FFDC00;
  }
}

.button-home { top: 8px; }
.button-restart { top: 46px; }

.status-mode {
  flex: auto;
  font-size: 14px;
  font-weight: bold;
}

.status-state {
  color: #666;
}
.status-state-found,
.status-state-total {
  font-size: 13px;
}

@keyframes breath {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.status-result-info {
  text-align: right;
}

.status-result {
  display: flex;
  align-items: center;
  svg {
    display: block;
    margin-right: 2px;
    width: 13px;
    color: currentColor;
  }
}

.status-result-in-progress svg {
  animation-name: breath;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.status-result-victory { color: #2ECC40; }
.status-result-defeat { color: #FF4136; }

.status-timer {
  letter-spacing: 1px;
  font-size: 11px;
  color: #666;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.status-state {
  flex: auto;
  text-align: right;
}
