@import "font";
@import "header";
@import "status";
@import "mode-view";
@import "grid-view";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  color: #fff;
  background: #424242;
  font: 12px/1.5 "Montserrat", "Avenir Next", Helvetica, sans-serif;
}

main {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  transition: all .3s ease-in-out;
}

svg {
  display: block;
  color: currentColor;
}

.background {
  background: url('../assets/images/bg1.jpg') no-repeat 50% 50%;
  background-size: cover;

  &:after {
    content: '';
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
}

